@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply text-white bg-main rounded-md duration-500
}
::-webkit-scrollbar-thumb{
    @apply bg-main rounded-lg 
  }
::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
}
::-webkit-scrollbar-track-piece {
    @apply bg-gray-200 rounded-lg
}
nav li{
    margin-block: 10px;
}
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0fad0f;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    /* color: black; */
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
    transition: all 0.5s;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
    transition: all 0.5s;
}
.product .btn 
{
    transition: transform 0.5s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
    cursor: pointer;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.text-main-light
{
    color: var(--light-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.containerHeart input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .containerHeart {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  .containerHeart svg {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    transition: all 0.3s;
  }
  
  .containerHeart svg:hover {
    transform: scale(1.1);
  }
  
  .shipped{
    animation: move 4s ease-in-out infinite ;
  }

  @keyframes move {
    0% {
      left: 20%;
      transform: rotateY(0deg);
    }
    50% {
      left: 100%;
      transform: rotateY(0deg);
    }
    51% {
      transform: rotateY(180deg);
    }
    100% {
      left: 20%;
      transform: rotateY(180deg);
    }
  }